li {
  display: inline;
}
h1.hidden {
  display: none;
}
h2.a1 {
  visibility: hidden;
}
div.ex1 {
  width: 700px;
  margin: auto;
  border: 3px solid #73ad21;
}

div.ex2 {
  max-width: 700px;
  margin: auto;
  border: 3px solid #73ad21;
}
