div.static {
  position: static;
  left: 40px;
  border: 3px solid #73ad21;
}
div.relative {
  position: relative;
  left: 50px;
  border: 3px solid #73ad21;
}
div.fixed {
  position: fixed;
  top: 10px;
  left: 40px;
  width: 300px;
  border: 3px solid #73ad21;
}
div.relative2 {
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid #73ad21;
}

div.absolute {
  position: absolute;
  top: 70px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73ad21;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #4caf50;
}

img {
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: -1;
}
